:root {
    --red: #fd5c5c;
    --blue: #89daff;
    --orange: #fca311;
    --green: #4e937a;
    --purple: #afa2ff;

    --primary: var(--red);
}

.container {
    font-family:
        "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ",
        Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "MS UI Gothic", Mincho,
        sans-serif;

    text-align: center;
    font-size: 20px;
    max-width: 1200px;
    margin: auto;
}

.back, .front {}

img { display: none; }

/* Header */
.header {
    position: absolute;
    top: 4px;
    left: 4px;
    font-size: 0.8em;
}

.header:hover #frequency {
    display: block;
}

.header:hover #frequency-sorting {
    opacity: 1;
}

/* Pitch */
.pitch-details {
    margin-bottom: 25px;
}

/* Card */
.card {
    padding: 5px;
    margin: 5px;
    overflow: scroll;
    position: relative;
}

.card-audio {
    position: absolute;
    right: 5px;
    top: 5px;
    transform: scale(0.5);
}

.glossary-control {
    text-align: right;
    margin-bottom: 25px;
}

.glossary-toggle {
}

/* Sentence */
.highlighted {
    color: var(--primary);
}

/* Elements */
#word {
    font-size: 70px;
}

#word-reading {
    font-size: 50px;
}

#word-audio {
}

#word-hint {
    font-size: 0.8em;
    opacity: 0.6;
}

#definition {
}

#definition-glossary {
}

#definition-media {
}

#sentence {
    font-size: 20px;
}

#sentence-audio {
}

#sentence-media {
}

#pitch {
}

#pitch-position {
}

#pitch-categories {
    font-style: italic;
    font-size: 0.8em;
}

#frequency {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    color: #FFF;
    width: 250px;
}

#frequency-sorting,
#metadata {
    opacity: 0.2;
    font-size: 0.8em;
}

#notes {
}

/* Dictionary Specific */
[data-sc-content="example-sentence"] {
    font-size: 10px;
}

