.container {
    font-family:
        "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ",
        Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "MS UI Gothic", Mincho,
        sans-serif;

    text-align: center;
    font-size: 20px;
}

.front,
.back {
}

.card {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    margin: 25px auto;
    border-radius: 5px;
    text-align: left;

    max-width: max(max(50vw, 50vh), 500px);
    max-height: 80vh;
    overflow-y: scroll;

    position: relative;
}

.card-audio {
    position: absolute;
    right: 5px;
    top: 5px;
    transform: scale(0.5);
}

.header {
    position: absolute;
    top: 5px;
    left: 5px;
}

/* Elements */
#word {
    font-size: 50px;
}

#word-reading {
    font-size: 50px;
}

#word-audio {
}

#word-hint {
    font-size: 0.4em;
    opacity: 0.6;
}

#definition {
}

#definition-glossary {
}

#definition-media {
}

#sentence {
}

#sentence-audio {
}

#sentence-media {
}

#pitch {
}

#pitch-position {
}

#pitch-categories {
}

#frequency {
    display: none;
}

#frequency-sorting {
    opacity: 0.8;
    font-size: 0.8em;
}

#metadata {
}

#notes {
}

/* Dictionary Specific */
[data-sc-content="example-sentence"] {
    font-size: 10px;
}
